body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto, sans-serif;
}

.first, .second, .third {
    height: 400px;
    flex: 1 ;
}

p {
    margin: 0;
    padding: 0;
}

.header, .first, .footer {
    background-color: #1F2937;
}

.third {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    margin-left: 15px;
    font-size: 18;
    color: #E5E7EB;
    text-decoration: none;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.first-text {
    width: 500px;
    margin-right: 20px;
}

.first-content {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.first-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 15px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 15px;
}

.first img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.second {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-header {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 30px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.images img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.images p{
    width: 200px;
}

.third {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.third-text {
    width: 750px;
}

.third-quote {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0;
    font-style: italic;
}

.third-author {
    margin-top: 0;
    font-size: 25px;
    text-align: right;
    font-weight: bold;
}

.fourth {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.advertisement {
    background-color: #3882F6;
    padding: 20px;
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.fourth-header {
    font-size: 25px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: 5px;
}

.fourth-text {
    color:#E5E7EB;
}

.advertisement-button {
    border: 1px solid white;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
}